<launch>
        <param name="robot_description" command="cat $(find chapter5_tutorials)/robot1.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="state_publisher" pkg="chapter5_tutorials" type="state_publisher" />
</launch>
